.container {
  display: flex;
  margin: -66px auto;
  width: 50%;
  height: 64px;
  background-color: #fff;
  > div {
    flex: 1;
    flex-direction: column;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.name {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
}

.value {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14;
}
